{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block title %}Send SMS to list{% endblock %}

{% block body %}

    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default margin-top">
            <div class="panel-heading">
                <h3 class="panel-title">Send SMS to list</h3>
            </div>
            <div class="panel-body">

                <form method="post" class="form">
                    <p>Data is cached for 1 minute to avoid doing to many calls to Google Sheets. If you detected an error, wait until the cache is over.</p>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <label class="control-label">Choose list to send to:</label>
                    {% for list in lists %}
                        <label class="checkbox-inline"><input name="lists" type="checkbox" value="{{ list }}">{{ list }}</label>
                    {% endfor %}
                    {% buttons %}
                        <button class="btn btn-block btn-success" type="submit">Send</button>
                    {% endbuttons %}
                </form>
            </div>
            <div class="panel-footer">
                <a href="{{ sheets_url }}" class="btn-block btn btn-default" target="_blank">Open Google Sheets</a>
            </div>
        </div>

    </div>
{% endblock %}