{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block title %}Message sent{% endblock %}

{% block body %}

    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-success margin-top">
            <div class="panel-heading">
                <h3 class="panel-title">Successfully sent!</h3>
            </div>
            <div class="panel-body">
                <b>Total cost of successful messages:</b> ${{ cost }}
                <b>Numbers reached:</b> {{ nums }}

            </div>
            <div class="panel-footer">
                <a href="{% url 'send_form' %}" class="btn-block btn btn-info">New message</a>
            </div>
        </div>

    </div>
{% endblock %}