# To deploy with docker, copy this file and rename it env.list. Replace with proper values
PROD=True
ACCOUNT_TWILIO=REPLACE_W_ACCOUNT
TOKEN_TWILIO=REPLACE_W_TOKEN
SHEETS_KEY=REPLACE_W_KEY
FROM_TWILIO=REPLACE_W_PHONE_NUMBER