{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block title %}Login{% endblock %}

{% block body %}

    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-success margin-top">
            <div class="panel-heading">
                <h3 class="panel-title">Bye!</h3>
            </div>
            <div class="panel-body">

                Thanks for logging out. Hope you didn't SPAM too much! :D
            </div>
        </div>

    </div>
{% endblock %}
